@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  src: url("./Inter.var.woff2") format("woff2");
}

:root {
  --border-rad-out: 0.4rem;
  --border-rad-in: 0.3rem;
  --shadow-s: 0 0 0.6rem hsl(0, 0%, 0%, 2%);
  --shadow-m: 0 0 0.8rem hsl(0, 0%, 0%, 4%);
  --white: white;
  --hue-color-ll: hsl(120, 50%, 90%);
  --hue-color-ld: hsl(120, 30%, 60%);
  --hue-color-dl: hsl(120, 30%, 30%);
  --hue-color-dd: hsl(120, 50%, 10%);
}

html {
  animation: 60s hueRotation infinite;
}

h3 {
  margin: 0 1rem 0 0;
}

input,
label,
p,
span,
h3 {
  font-size: 1rem;
  font-family: "Inter", Inter, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: var(--hue-color-dl);
}

body {
  background-color: var(--hue-color-ll);
}

/* modify checkbox buttons */

label {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: max-content;
  background-color: hsl(0, 0%, 100%, 30%);
  padding: 0.4rem;
  padding-left: 0.6rem;
  font-family: sans-serif, Arial;
  font-size: 1rem;
  margin: 0.4rem;
  border-radius: var(--border-rad-out);
  box-shadow: var(--shadow-s);
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  display: none;
}

.fav-icon {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  filter: sepia(1) hue-rotate(60deg);
  margin-right: 0.2rem;
  opacity: 0.8;
}

.checkbox-button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  margin: 0 0.6rem 0 0;
  box-shadow: var(--shadow-m);
}

.checkbox-button span {
  display: inline-block;
  position: relative;
  transform-origin: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--hue-color-ld);
  scale: 0%;
  transition: scale 0.2s ease;
}

label:hover .checkbox-button span {
  scale: 35%;
  transition: 0.2s ease;
}

input[type="checkbox"]:checked + .checkbox-button span {
  scale: 75%;
  transition: scale 0.6s cubic-bezier(0.4, -1.2, 0.2, 1.4);
}

.alt {
  position: relative;
  display: flex;
  width: 1.2rem;
  margin-left: 0.2rem;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: var(--border-rad-in);
  box-shadow: var(--shadow-m);
  background-color: var(--white);
  color: var(--hue-color-ld);
  padding: 0.1rem 0.2rem 0.4rem 0.2rem;
}

@keyframes hueRotation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--hue-color-dd);
  }

  input,
  label,
  p,
  span,
  h3 {
    color: var(--hue-color-ll);
  }

  label {
    background-color: hsl(0, 0%, 100%, 10%);
  }

  .checkbox-button {
    background-color: var(--hue-color-dl);
  }

  .checkbox-button span {
    background-color: var(--white);
  }

  .alt {
    background-color: var(--hue-color-dd);
    color: var(--hue-color-dl);
  }
}
